.global-footer {
  font-size: 0.7715113549rem;
  margin-top: 100px;
  line-height: 1.5;
  color: #fff;
  background: #2c0022;
}
.global-footer__main {
  padding: 40px 15px;
}
.global-footer__main-content {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-column-gap: 10px;
}
.global-footer__heading {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-top: 0;
  margin-bottom: 0.75em;
  font-weight: bold;
  font-size: 0.95rem;
}
.global-footer__links {
  margin: 0 0 2em;
  list-style: none;
}

.global-footer__main-content li {
  margin-bottom: 0.75em;
}
.global-footer__main-content a:any-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.85rem;
}
.global-footer__main-content a:hover {
  opacity: 0.8;
}
.global-footer__brand-text {
  margin-top: 0.75em;
  margin-bottom: 2em;
}
.slate_logo_footer {
  max-width: 250px;
}

.global-footer__social-link {
  margin-right: 1em;
  margin-bottom: 0.5em;
  display: inline-block;
}
.global-footer__legal {
  background: #23001b;
  padding: 1.5em 15px;
}
.global-footer__legal-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.global-footer__legal-links {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.global-footer__legal-link a:any-link {
  color: #fff;
  text-decoration: none;
}
.global-footer__legal-link a:hover {
  opacity: 0.8;
}
