* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  max-height: auto;
}
body {
  font-family: Retina, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.spacer_vertical {
  width: 100%;
  height: 2px;
  border-top: 2px solid #999;
  border-color: var(--txt-color);
  opacity: 0.5;
  margin-bottom: 2.1em;
  margin-top: 2.1em;
}
.layout-homepage__container {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: inherit;
}
.section-header__strapline {
  text-transform: uppercase;
  color: var(--txt-color);
  opacity: 0.8;
  font-style: italic;
  letter-spacing: 0.07em;
  font-size: 0.75em;
}
.section-feed--two-column {
  grid-template-columns: repeat(14, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 20px;
}
h2 {
  color: hsl(313.7, 100%, 6.9%);
  text-transform: uppercase;
  font-size: 4rem;
}
h2 a:any-link {
  color: hsl(313.7, 100%, 6.9%);
  text-decoration: none;
}
h2 a:hover {
  color: hsl(313.7, 100%, 6.9%, 0.8);
}
@media (min-width: 1440px) {
  .layout-homepage__container {
    max-width: 1300px;
  }
}
.section-header__subnav-menu {
  display: flex;
  list-style-type: none;
  gap: 0.7rem;
  font-size: 0.93rem;
  color: #88365b;
  font-weight: 700;
}
.section-header__subnav-menu a:any-link {
  text-decoration: none;
  color: #88365b;
  font-weight: 700;
}
.section-header__subnav-menu a:hover {
  opacity: 0.8;
}
.section-header__view-all {
  display: flex;
  justify-content: end;
}

.section-header__view-all a:any-link {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-weight: 800;
  font-size: 0.6776625465rem;
  white-space: nowrap;
  color: var(--txt-color);
  text-decoration: underline solid 3px #ff0e50;
}
.section-header__view-all a:hover {
  color: #ff0e50;
}
.section-feed {
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 1rem;
}

.section-feed__list {
  width: 100%;
}
.section-feed__list a:any-link {
  text-decoration: none;
}
.section-feed-two-column__teaser-author {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: var(--txt-color);
  opacity: 0.8;
  font-size: 0.7230659372rem;
  margin-bottom: 0.1em;
}
.section-feed-two-column__teaser:any-link {
  color: var(--txt-color);
}
.section-feed-two-column__teaser:hover {
  opacity: 0.8;
}

.section-feed-two-column__teaser-headline {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.section-feed-two-column__card-teaser {
  position: relative;
  margin-top: -3.15em;
  padding: 15px 20px 0 0;
  width: 75%;
  background-color: #fff;
}
.section-feed-two-column__card-teaser_links {
  text-decoration: none;
  color: var(--txt-color);
}
.section-feed-two-column__card-byline {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 0.8rem;
}
.section-feed-two-column__card-headline {
  font-size: 2rem;
  font-weight: 700;
  color: #6a0432;
  line-height: 1.2;
}
.section-feed__item img:hover {
  opacity: 0.8;
}
.italic {
  font-style: italic;
}

@media (max-width: 768px) {
  .layout-homepage__container {
    padding: 0 0.6rem;
  }
  h2 {
    font-size: 2rem;
  }
  .section-header__subnav-menu {
    gap: 1rem;
    font-size: 0.8rem;
  }
  .section-feed {
    display: block;
  }
  .section-feed-two-column__card-teaser {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}
